@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.image-bg {
  background-image: url('/src/assets/Images/home3.jpg');
  height: 100vh; /* fixed typo: vh instead of lvh */
  background-repeat: no-repeat;
  background-size: cover;
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center vertically */
  height: 100vh; /* Adjusted to full viewport height */
  margin-left: "20%";
}

.home-container h1 {
  text-align: center;
  max-width: 80%; /* Removed quotes */
  margin-top: 2%;
  font-size: 50px; /* Removed quotes */
}

.grid-container {
  display: flex;
  flex-wrap: wrap; /* Ensures proper wrapping */
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-left: "20%";
}

.paper {
  background-color: lightblue;
  padding: 5px; /* Removed quotes */
  border-radius: 5px; /* Removed quotes */
}

.grid {
  display: flex;
  margin-left: "20%";
}

.grid1,
.grid2,
.grid3 {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.grid1 {
  animation-name: slideInFromLeft;
}

.grid3 {
  animation-name: slideInFromRight;
}

.grid1 img,
.grid2 img,
.grid3 img {
  transition: transform 1s ease-in-out;
}

.grid1 img:hover,
.grid2 img:hover,
.grid3 img:hover {
  box-shadow: 0 0.5rem 1rem rgba(46, 41, 41, 0.85);
  transform: scale(1.1);
}
